#homePageCtas {
  background: #bdbcbc;
  height: 250px;
  padding-top: 15px; }
  #homePageCtas li {
    width: 30%;
    height: 90%;
    background: #cccccc;
    float: left;
    margin: 0 10px 0 0; }
    #homePageCtas li:first-child {
      margin-left: 37px; }
      #homePageCtas li:first-child h3 {
        background-color: #999999; }
    #homePageCtas li:last-child {
      margin-right: 0px; }
      #homePageCtas li:last-child h3 {
        background-color: #555555;
        margin-bottom: 0; }
    #homePageCtas li h3 {
      font-size: 14pt;
      font-weight: bold;
      background: #444444;
      padding: 4px;
      margin: 15px 0 7px; }
  #homePageCtas #events {
    width: 100%;
    display: block; }
    #homePageCtas #events li {
      float: none;
      margin: 0;
      display: block;
      width: 100%; }
      #homePageCtas #events li a {
        display: block;
        background: #eee;
        padding: 5px;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #fff; }
        #homePageCtas #events li a:hover {
          background-color: #888;
          color: #eee;
          cursor: pointer;
          text-decoration: none; }
